<div class="card">
    <div class="card-body">
        <h2>{{isEditMode ? 'Update Library' : 'Add Library'}}</h2>
        <form #addLab="ngForm"  (ngSubmit)="onAddLib()">
            <div class="form-group">
                <input
                required
                ngModel
                name="todoItem"
                class="form-control" placeholder="Add Libraries...">
            </div>
            <button *ngIf="!isEditMode" type="submit" class="btn-block" mat-raised-button color="primary">Add Libraries</button>
            <button 
            (click)="onUpdate()"
            *ngIf="isEditMode" type="button" class="btn-block" mat-raised-button color="primary">Update Libraries</button>
        </form>
    </div>
</div>
