<div class="card">
    <div class="card-body">
        <h2>{{isEditMode ? 'Update Language' : 'Add Language'}}</h2>
        <form #addLang="ngForm" (ngSubmit)="onAddLang()">
            <div class="form-group">
                <input
                ngModel
                name="todoItem"
                required
                type="text" class="form-control" placeholder="Add Language...">
            </div>
            <button *ngIf="!isEditMode" type="submit" class="btn-block" mat-raised-button color="primary">Add Language</button>
            <button
            (click)="onUpdate()"
            *ngIf="isEditMode" type="button" class="btn-block" mat-raised-button color="primary">Update Language</button>
        </form>
    </div>
</div>