<div class="card">
    <div class="card-body">
        <h2>{{isEditMode ? 'Update Todo' : 'Add todo'}}</h2>
        <form #todoItem="ngForm" (ngSubmit)="onAddTodo()">
            <div class="form-group">
                <input
                required
            ngModel
            name="todoItem"
            placeholder="Add todoItems...." class="form-control">
            </div>
            <button
            *ngIf="!isEditMode"
            type="submit" class="btn-block" mat-raised-button color="primary">Add Todo</button>
            <button
            (click)="onUpdate()"
            *ngIf="isEditMode"
            type="button" class="btn-block" mat-raised-button color="primary">Update Todo</button>
        </form>
    </div>
</div>