<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo1 of todo1Arr">
        <strong>{{todo1.todoItem}}</strong>
        <div>
            <button class="btn-lg" mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn-lg" mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>